@layer base {
  @font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato-Regular.ttf');
  }

  @font-face {
    font-family: 'Lato-bold';
    src: url('../assets/fonts/Lato-Heavy.ttf');
  }

  @font-face {
    font-family: 'Source Serif Pro';
    src: url('../assets/fonts/source-serif-pro-bold.ttf');
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #2D2D2D;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
