@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Source+Serif+Pro:wght@700&display=swap');

:root {
    --dark: #2d2d2d;
    --clear: #f9f9f9;
    --company: #e0e0e0;
}

html,
body {
    padding: 0;
    margin: 0;
    background: var(--clear);
    color: var(--dark);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    background: var(--dark);
}

li:hover {
    background: var(--clear);
}

* {
    box-sizing: border-box;
}

.ss-pro {
    font-family: 'Source Serif Pro', serif;
}

.outside-line {
    border: 1px solid var(--company);
}

.border-underline {
    border-bottom: 1px solid var(--company);
}
