.navList{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #2D2D2D;
}

.navList li{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.hamburguer{
    display: inline-block;
    width: 3rem;
    margin: auto 0;    
}
.line{           
    margin: 0.4rem; 
    height: 3px;
    max-width: 1.8rem;
    background-color: black;
    display: block;
    border-radius: 5px;
}

@media screen and (min-width: 768px){
    .hamburguer{
        display: none;
    }
}