.productItems {
  flex: 1 0 175px;
  margin: 0 2% 2.5rem 2%;
  height: 305px;
  max-width: 175px;
  background-color: #FFF;
}

.productImgContent {
  height: 233px;
  background-color: #F2F2F2;
}

.productMainContent {
  height: 72px;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #E7E7E7;
  box-shadow: 0 5px 10px -2px #c9c9c9;
}
