
.sidebar {
  border: 1px solid #ebebeb;
  border-radius: 5px;
}

.ls {
  letter-spacing: 0.75px;
}

.readMore {
  color: #1C8C64;
}

.productCategories {
  padding: 0.5rem 1.5rem;
  background: #F9F9F9;
}
